.shape {
    height: 0;
    width: 0;
    border-bottom: 26px solid transparent;
    border-left: 15px solid green;
    border-right: 15px solid green;
  }

  /* - CSS Modeules: scope CSS to a component by automatically creating unique class names
     - Tailwind: a CSS framework that speeds up by using "utility classes"
  */

  /* <div
    className="relative w-0 h-0 border-l-[15px] border-r-[15px] border-b-[26px] border-l-transparent border-r-transparent border-b-black"
  /> */